#calendar {
    margin: auto;
    width: 240px;
    display: inline-block;
}

.calendarHeader {
    text-align: center;
    padding-top: 10px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

.calendarHeader div {
    display: inline-block;
    width: 20px;
    margin: 0px 2px;
    background-color: rgb(240, 240, 240)
}

.monthLeft {
    float: left;
}

.monthRight {
    float: right
}

.shortDate {
    display: inline-block
}

.calendarRow {
    display: flex;
    justify-content: space-between  
}


.cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    margin: 1px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
}

.dayName {
    background-color: rgb(233, 241, 107); 
}

.date.clicked {
    background-color: rgb(54, 192, 192); 
}

.date:hover {
    background-color: rgb(61, 212, 212);
}

.none {
    color: #ffffff;
    background-color: #ffffff;
}